In [1]:
import pandas_datareader as pdr

In [2]:
pdr.DataReader('005930', 'naver')

             Open   High    Low  Close    Volume
Date
2016-11-21  31300  32119  31300  31860    163604
2016-11-22  32140  32900  32000  32800    195022
2016-11-23  33220  33220  32520  32980    253372
2016-11-24  32980  33040  32660  33000    155143
2016-11-25  32820  33040  32660  33000    125538
...           ...    ...    ...    ...       ...
2021-11-15  71700  71900  70900  71400  12420710
2021-11-16  71500  72000  71300  71300  10919239
2021-11-17  71300  71600  70600  70700  11027606
2021-11-18  70700  71000  70200  70200  10144957
2021-11-19  70400  71400  70100  71200  11896747

[1229 rows x 5 columns]

In [3]:
def load_config():

    with open("config.json", "r") as f:

        return json.load(f)

In [6]:
import json
type(load_config())

dict